# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Ignore test coverage reports
coverage/


# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Optional: lock files if you want
# package-lock.json
yarn.lock

package-lock.json
